<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Title</title>
   
    <style type="text/css" data-hse-inline-css="true">
  

.uk-card-primary.uk-card-body, .uk-card-primary>:not([class*=uk-card-media]), .uk-card-secondary.uk-card-body, .uk-card-secondary>:not([class*=uk-card-media]), .uk-light, .uk-offcanvas-bar, .uk-overlay-primary, .uk-section-primary:not(.uk-preserve-color), .uk-section-secondary:not(.uk-preserve-color), .uk-tile-primary:not(.uk-preserve-color), .uk-tile-secondary:not(.uk-preserve-color) {
    color: rgba(255,255,255,.7);
}
.uk-padding {
    padding: 30px;
}
html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    background: #fff;
    color: #666;
}
html {
    color: -internal-root-color;
}
.uk-container::after, .uk-container::before {
    content: "";
    display: table;
}
.uk-container::after {
    clear: both;
}
.uk-container::after, .uk-container::before {
    content: "";
    display: table;
}
::selection {
    background: #39f;
    color: #fff;
    text-shadow: none;
}
.uk-container>:last-child {
    margin-bottom: 0;
}
@media (min-width: 960px){
.uk-width-1-3\@m {
    width: calc(100% * 1 / 3.001);
}
.uk-width-2-3\@m {
    width: calc(100% * 2 / 3.001);
}
}
.uk-light, .uk-offcanvas-bar, .uk-overlay-primary, .uk-section-primary:not(.uk-preserve-color), .uk-section-secondary:not(.uk-preserve-color), .uk-tile-primary:not(.uk-preserve-color), .uk-tile-secondary:not(.uk-preserve-color) {
    color: rgba(255,255,255,.7);
}

div {
    display: block;
}
.uk-card-primary.uk-card-body, .uk-card-primary>:not([class*=uk-card-media]), .uk-card-secondary.uk-card-body, .uk-card-secondary>:not([class*=uk-card-media]), .uk-light, .uk-offcanvas-bar, .uk-overlay-primary, .uk-section-primary:not(.uk-preserve-color), .uk-section-secondary:not(.uk-preserve-color), .uk-tile-primary:not(.uk-preserve-color), .uk-tile-secondary:not(.uk-preserve-color) {
    color: rgba(255,255,255,.7);
}
.uk-container{
  max-width: 500px;
}
  

      .uk-background-secondary,.uk-container {
          background-color: #FB425A;
      }
      .logo-container{
        max-width: 200px;
      } 
      .float-l{
        float: left;
      }
      .uk-label{
        color: #FB425A;
        background: #fff;
        padding: 3px;
        border-radius: 3px;
      }
    </style>  
  </head>

  <body>
    <!-- <style> -->
      <div class="uk-container">
        <div class="uk-child-width-1-1@s" uk-grid>
          <div>
              <div class="uk-light uk-background-secondary uk-padding">
                  <div uk-grid>
                
                    <div class="uk-width-2-3@m float-l">
                      <h2>Hi <b>{{username}}</b>, your register request is ok,</h2>
                    </div>
                     <div class="uk-width-2-3@m float-l">
                    <p>Now you need to activate your account!</p>
                  <p>Your activation code is:</p>

                  <span class="uk-label">
                    {{activationcode}}
                  </span>
                  </div>
                  </div>
                 
                  

              </div>
          </div>
      </div>
      </div>
  </body>

</html>